
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



body{
    padding: 0;
    margin: 0;
    
    font-family: 'Klee One', cursive;
}
body {
    background: linear-gradient(347deg, #45b7dc, #45dc83);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}
@keyframes AnimationName {
    0%{background-position:48% 0%}
    50%{background-position:53% 100%}
    100%{background-position:48% 0%}
}
/* Container */

.container{
    padding: 10px;
    width: 380px;
    margin: 0 auto;

}

/* header */
.header{
    width: 380px;
    height: 200px;
    background-image: url('https://source.unsplash.com/1600x900/?bulb');
    background-size: 100% 150%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;

}
.clear{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.clear i{
    font-size:25px;
    color:#fff;
}
.clear i:hover{
    cursor: pointer;
    transform: rotate(50deg);
}

.title p{
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    margin: 0;
    padding: 10px 0 0 10px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 5px;


}

#date{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size:15px;
    font-weight: 300px;
}
.lineThrough{
    text-decoration: line-through;
    color: #ccc;

}
.fa-check-circle{
    color:greenyellow

}

/* content */

.content{
    width: 380px;
    height:350px;
    max-height: 350px;
    background-color: #fff;
    overflow: auto;


}

.content::-webkit-scrollbar{
    display: none;
}
.content ul{
    padding:0;
    margin:0;

}
.item{
    width: 380px;
    height: 45px;
    min-height:45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}

.item i.co{
    position: relative;
    font-size: 20px;
    padding-left: 5px;
    left:15px;
    top: 10px;

}

.item i.co:hover{
    cursor: pointer;

}
.item p.text{
    position: absolute;
    padding:0;
    margin: 0;
    font-size: 15px;
    left:50px;
    top:10px;
    background-color: #fff;
    max-width: 285px;

}

.item i.de{
    position: absolute;
    font-size:20px;
    right: 15px;
    top: 10px;
}
.item i.de:hover{
    color: #af0000;
    cursor: pointer;


}
/* add item */
.add-to-do{
    position: relative;
    width: 360px;
    height: 40px;
    background-color: #fff;
    padding:10px;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-radius: 0 0 15px 15px;


}

.add-to-do i{
    position: absolute;
    top: 12px;
    font-size:30px;
    color: #4162f6;
}

.add-to-do input{
    position: absolute;
    left:50px;
    height:35px;
    width: 310px;
    background-color: transparent;
    border: none;
    font-size:20px;
    padding-left: 10px;
}

.add-to-do input::-webkit-input-placeholder{
    color: #4162f6;
    font-size:20px;

}

/* quote */

blockquote {
    position: relative;
    padding-left: 30px;
    font-weight: 200;
    color: #fff;
    padding: 1em;
    margin: 1em;
    max-width: 33em;
    font-size: 24px;
    font-family: 'Lobster', cursive;
  }
  blockquote:before {
    content: "“";
    font-family: 'Lobster', cursive;
    position: absolute;
    right: 100%;
    font-size: 120px;
    line-height: 0px;
    top: 50px;
    color: #78e08f;
  }
  blockquote:after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    width: 80px;
    height: 5px;
    background: #e56d39;
    left: 1em;
  }